{% if messages %}
    {% for message in messages %}
    <div id="message" class=
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            "notification is-danger"
        {% else %}
            "notification is-success"
        {% endif %}>
        <button class="delete"></button>
        <strong>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                Whoops!
            {% else %}
                {{ message.tags|title }}
            {% endif %}
        </strong>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}