<div class="column is-3 ">
    <aside class="menu is-hidden-mobile">
        <p class="menu-label">
            Games
            <!-- Refactor all of this to make it reactive to what games and cons are happening -->
        </p>
        <ul class="menu-list">
            <li><a class="is-active">Active Games</a></li>
            <li><a>My Library</a></li>
        </ul>
        <p class="menu-label">
            Cons
            <!-- should be one <li> for each con -->
        </p>
        <ul class="menu-list">
            <li>
                <a>Rubicon IV</a>
                <ul>
                    <li><a>Start a game</a></li>
                    <li><a>Current games</a></li>
                    <li><a>Game History</a></li>
                </ul>
            </li>
    </aside>
</div>